.subscribe
    width 100%

    &-header
        font-size 2rem
        color Black
        width 100rem
        margin auto
        font-weight font-weight-bold

    input
        padding 1rem
        margin 1rem 1rem 1rem 0
        width 70%
    
    input[type=submit]
        width 20%