@font-face {
  font-family: 'Montserrat', sans-serif;
  src:  url('https://fonts.googleapis.com/css?family=Montserrat:400,700') format('woff2'),
        url('https://fonts.googleapis.com/css?family=Montserrat:400,700') format('woff')
}

h1,h2,h3,h4,h5,h6
  font-family 'Montserrat'
  font-weight 400

@font-face {
  font-family: 'rad';
  src:  url('/static/fonts/Radnika-Light.woff2') format('woff2'),
        url('/static/fonts/Radnika-Light.woff') format('woff');
}

html
  font-size 10px

body
  font-family 'rad'
  color black
  line-height: 1.5

li
  line-height 1.7
a
  color yellow
  text-decoration none

.tagline
  font-family 'Montserrat'
  font-weight font-weight-bold
  font-size 7.5rem
  line-height 9rem
  color black
  margin 0 0 0 4rem
  @media (max-width: 1000px)
    text-align center
  @media (max-width: 800px)
    font-size 4.5rem
    line-height 5rem
    margin 2rem 0 3rem
